@use '../utils' as u;

body{
    color: u.$black;
    font-family: u.$primary-font;
}

h1 {
    font-size: u.$h1;
}
h2 {
    font-size: u.$h2;
}
h3 {
    font-size: u.$h3;
}
h4 {
    font-size: u.$h4;
}
h5 {
    font-size: u.$h5;
}
h6 {
    font-size: u.$h6;
}
.h7 {
    font-size: u.$h7;
}