@use '../utils' as u;

.over{
    display: grid;
    grid-template-columns: 5fr 6fr;
    gap: 2rem;
    position: relative;

    @media (max-width: 949px){
        grid-template-columns: 1fr;
    }
    
    &__text{
        margin-top: 10rem;
        @media (max-width: 949px){
            margin-top: unset;
        }
    }

    &__image{
        height: 90%;
        @media(max-width: 949px){
            height: 50vh;
        }

        &__img{
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
        }
    }

    &__heading{
        position: absolute;
        left: 30%;
        font-family: u.$secondary-font;    
        font-weight: 200;
        text-transform: capitalize;
        font-size: 100px;

        @media (max-width: 949px){
            // background-color: red;
            left: 1rem;
            font-size: u.$h1;
            top: -3rem;
        }

    }
}

.opleidingen{
    // background-color: blue;
    display: grid; 
    grid-template-columns: 6fr 5fr;
    gap: 2rem;

    @media (max-width: 949px){
        grid-template-columns: 1fr;
    }

    &__text{

        height: 50vh;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        height: fit-content;
        @media (max-width: 949px){
            order: 2;
            height: 50vh;
        }
        
        ul{
            list-style: circle;
            list-style-position: inside;
        }
        &__heading{
            font-family: u.$secondary-font;
            font-weight: 200;
            text-align: left;
            @media (max-width: 949px){
                display: none;
            }
            
            &--mobile{
                display: none;
                @media (max-width: 949px){
                    display: unset;
                    font-family: u.$secondary-font;
                    font-weight: 200;
                    text-align: left;
                    
                }

            }

        }
        
        &__list{
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    }
    
    &__image{

        @media (max-width: 949px){
            order: 1;
            height: 50vh;
        }
        
        &__img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            background-color: red;
        }
    }
}
