@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&family=Spectral:wght@200;300;400&display=swap');

$primary-font: 'Montserrat',
    sans-serif;
$secondary-font: 'Spectral',
    serif;


$h1: 4.209rem;
$h2: 3.157rem;
$h3: 2.369rem;
$h4: 1.777rem;
$h5: 1.333rem;
$h6: 1rem;
$h7: 0.75rem
